@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");

@import "tailwindcss";

* {
  font-family: outfit;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 64px; /* to offset fixed navbar */
}

.font-outfit {
  font-family: Outfit !important;
}
.font-playfair {
  font-family: playfair !important;
}

/* globals.css */

.blob {
  position: absolute;
  border-radius: 50%;
  filter: blur(80px);
  opacity: 0.5;
  mix-blend-mode: multiply;
  animation: blobFloat 25s ease-in-out infinite;
}

@keyframes blobFloat {
  0% {
    transform: translate(0, 0) scale(1);
  }
  25% {
    transform: translate(100px, -50px) scale(1.1);
  }
  50% {
    transform: translate(-100px, 100px) scale(0.9);
  }
  75% {
    transform: translate(50px, 0px) scale(1.05);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}
